rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    _include "functions.rules"

    match /someCollection/{someDocument} {
      allow read: if isAdmin();
      _include "someCollection/write.rules"
    }

    _include "someCollection2/index.rules"
  }
}

